// default color set
$primary-color : #6c62ff;
// color variation
$hover-color : #1e12cf;
// title color

// social color

// body var
$iconFontawesome: 'FontAwesome';
$iconFlaticon: 'Flaticon';
$bodyFont: 'Poppins', sans-serif;
$fontWeight: 400;
$bColor: #333333;
$bfSize: 16px;
$blineHeight: 24px / $bfSize;
$transition:all .5s;

